# Alumni Education History Filtering

## Imports

In [1]:
import pandas as pd
import json
import math

## Load Data From File

In [2]:
edu = pd.read_csv('alum-edu-hist.csv')
edu.head()

/home/agupta/Documents/iqp/career-trajectory-mapping/venv-iqp/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Contact: Case Safe ID,Contact: Full Name,Contact: Constituent Category (Primary),Contact: Preferred Class Year,Education: Education History,Degree/Certificate,Degree Year,End Year,Graduation Year,Institution Name,...,Minor #2,Minor #2 Department,Other Information Related to Degree,Start Year,Student Status,Education: Record Type,Education: Created By,Education: Created Date,Education: Last Modified By,Education: Last Modified Date
0,003G0000024bMwNIAU,Mark Korir,Graduate Alumnus,2017.0,120338,Master of Business Admin.,2014.0,NaN,2014.0,Hodges University,...,NaN,NaN,NaN,NaN,NaN,Non-WPI Degree,Anthony McMahon,8/23/2018,Anthony McMahon,8/23/2018
1,003G000001oerenIAA,Rebecca Ide,Alumna/us,2012.0,185152,Non-Degree,NaN,NaN,NaN,Becker College Worcester,...,NaN,NaN,NaN,NaN,NaN,WPI Degree,API-Only,8/27/2018,API-Only,8/27/2018
2,003G000001of21qIAA,Kevin Lynch,Alumna/us,2018.0,174184,Bachelor of Science,2017.0,NaN,2017.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019
3,003G000001oeYxWIAU,Zareh Martin,Alumna/us,1940.0,155692,Bachelor of Science,1940.0,NaN,1940.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019
4,003G000001oeaVGIAY,Gerald Orre,Alumna/us,1971.0,158957,Bachelor of Science,1971.0,NaN,1971.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019

## Basic Filtering

### FSB + relevant data filtering

Only get people from FSB

In [3]:
bus = edu[(edu['Major #1 Department'] == 'Management') | (edu['Major #2 Department'] == 'Management') | (edu['Minor #1 Department'] == 'Management') | (edu['Minor #2 Department'] == 'Management')]
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,5803.000000,5803.000000,5770.000000,22.000000,5774.000000,437.000000
mean,2000.951749,131396.399104,2001.904333,2009.590909,2001.905092,2016.102975
std,16.453629,45366.817014,15.306705,9.969759,15.301768,3.832013
min,1910.000000,63486.000000,1910.000000,1982.000000,1910.000000,1978.000000
25%,1989.000000,77869.500000,1990.000000,2006.000000,1990.000000,2015.000000
50%,2005.000000,151943.000000,2006.000000,2013.000000,2006.000000,2016.000000
75%,2015.000000,171631.500000,2015.000000,2017.000000,2015.000000,2018.000000
max,2022.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

Select people in the last 50 years

In [4]:
bus = bus[(bus['Contact: Preferred Class Year'] >= (2020 - 50)) & (bus['Contact: Preferred Class Year'] <= 2020)]
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,5600.000000,5600.000000,5567.000000,22.000000,5571.000000,436.000000
mean,2002.565714,131886.924643,2003.212682,2009.590909,2003.212529,2016.103211
std,14.080420,45510.458390,13.639408,9.969759,13.634906,3.836412
min,1970.000000,63486.000000,1970.000000,1982.000000,1970.000000,1978.000000
25%,1991.000000,77586.750000,1992.000000,2006.000000,1992.000000,2015.000000
50%,2006.000000,152294.500000,2007.000000,2013.000000,2007.000000,2016.500000
75%,2015.000000,172001.250000,2015.000000,2017.000000,2015.000000,2018.000000
max,2020.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

Only get wpi alumni

In [5]:
bus = bus[bus['Education: Record Type'] == 'WPI Degree']
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,5493.000000,5493.000000,5460.000000,15.000000,5464.000000,355.000000
mean,2002.262698,130873.111779,2003.009707,2010.933333,2003.009700,2016.230986
std,14.036901,45361.042109,13.674858,11.423451,13.670252,3.541944
min,1970.000000,63486.000000,1970.000000,1982.000000,1970.000000,1978.000000
25%,1990.000000,77004.000000,1991.000000,2009.500000,1991.000000,2015.000000
50%,2006.000000,151455.000000,2007.000000,2016.000000,2007.000000,2016.000000
75%,2014.000000,171233.000000,2015.000000,2017.500000,2015.000000,2018.000000
max,2020.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

Ensure that only relevant degrees are being picked

In [6]:
bus['Degree/Certificate'].unique()

array(['Bachelor of Science', 'Master of Science',
       'Master of Business Admin.', 'Master of Science in Mgmt.',
       'Certificate Program', 'Bachelor of Arts', 'Graduate Certificate',
       'Advanced Certificate', 'Doctor of Philosophy',
       'Associate Degree in Science', 'Master of Engineering'],
      dtype=object)

In [7]:
accepted_degrees = ['Bachelor of Science', 'Master of Science',
       'Master of Business Admin.', 'Master of Science in Mgmt.',
       'Bachelor of Arts']
accept_regex = '|'.join(accepted_degrees)
bus = bus[bus['Degree/Certificate'].str.contains(accept_regex)]
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,5448.000000,5448.000000,5420.000000,12.000000,5424.000000,347.000000
mean,2002.310940,130839.861233,2003.021771,2011.916667,2003.021755,2016.348703
std,14.000415,45341.470551,13.677024,10.561150,13.672383,3.119400
min,1970.000000,63486.000000,1970.000000,1982.000000,1970.000000,1978.000000
25%,1990.000000,77002.250000,1991.000000,2011.250000,1991.000000,2015.000000
50%,2006.000000,151446.500000,2007.000000,2016.500000,2007.000000,2016.000000
75%,2014.000000,171178.250000,2015.000000,2018.000000,2015.000000,2018.000000
max,2020.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

### Uniqueness

Seems that we have duplicate names

In [8]:
bus['Contact: Full Name'].nunique()

5202

Duplicated names are for multiple degrees; should be fine to keep them in

In [9]:
bus[bus['Contact: Full Name'] == 'Akshay Rao']

,Contact: Case Safe ID,Contact: Full Name,Contact: Constituent Category (Primary),Contact: Preferred Class Year,Education: Education History,Degree/Certificate,Degree Year,End Year,Graduation Year,Institution Name,...,Minor #2,Minor #2 Department,Other Information Related to Degree,Start Year,Student Status,Education: Record Type,Education: Created By,Education: Created Date,Education: Last Modified By,Education: Last Modified Date
24890,003G000001rCILmIAO,Akshay Rao,Alumna/us,2018.0,175127,Bachelor of Science,2018.0,NaN,2018.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019
69193,003G000001rCILmIAO,Akshay Rao,Alumna/us,2018.0,189556,Master of Science,NaN,NaN,NaN,Worcester Polytechnic Institute,...,NaN,NaN,NaN,2018.0,Never Enrolled,WPI Degree,API-Only,10/28/2019,API-Only,11/11/2019

## Generate final list of alumni

In [10]:
names = list(bus['Contact: Full Name'].unique())
names[:10]

["Donald O'Brien",
 'Shanel Chisholm',
 'Kristen (Garza) Reader',
 'Matthew Kewriga',
 'Gregory Dalpe',
 'Terra Peckskamp',
 'Victoria Richardson',
 'Manqi Guo',
 'Shruti Adhav',
 'Aditi Prabhudesai']

Write to a file

In [11]:
with open('names.json', 'w') as fh:
    json.dump(names, fh)

# WPI Names to LinkedIn URLs

## Imports

In [12]:
from googleapiclient.discovery import build
from tqdm import tqdm

Enable tqdm pandas mode

In [13]:
tqdm.pandas()

## Create Client

In [14]:
api_key = input('Input your developer key: ')
api_key

Input your developer key:  AIzaSyDvxVPh4Dd71srsw6tLtqrWVXPaA5auEik

'AIzaSyDvxVPh4Dd71srsw6tLtqrWVXPaA5auEik'

In [15]:
engine_id = input('Input your engine ID: ')
engine_id

Input your engine ID:  2b3406adf5aac7e25

'2b3406adf5aac7e25'

In [16]:
service = build('customsearch', 'v1', developerKey=api_key)

## Create Mapping

Create search query function

In [24]:
def get_url(row):
    name = row['Contact: Full Name']    
    #res = service.cse().siterestrict().list(
    #    q=f'-intitle:profiles {name}', cx=engine_id, num=1,
    #    exactTerms='Worcester Polytechnic Institute').execute()
    res = service.cse().list(
        q=f'-intitle:profiles {name}', cx=engine_id, num=1,
        exactTerms='Worcester Polytechnic Institute').execute()
    if res and 'items' in res:
        return res['items'][0]['link']

Reduce the size until we have the final funds

In [25]:
limit = 99
subset = bus[:limit]

Generate all of the urls

In [26]:
subset['url'] = subset.progress_apply(get_url, axis=1)

100%|██████████| 99/99 [00:44<00:00,  2.23it/s]
<ipython-input-26-8061f556497a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['url'] = subset.progress_apply(get_url, axis=1)

In [27]:
subset.head()

,Contact: Case Safe ID,Contact: Full Name,Contact: Constituent Category (Primary),Contact: Preferred Class Year,Education: Education History,Degree/Certificate,Degree Year,End Year,Graduation Year,Institution Name,...,Minor #2 Department,Other Information Related to Degree,Start Year,Student Status,Education: Record Type,Education: Created By,Education: Created Date,Education: Last Modified By,Education: Last Modified Date,url
18,003G000001oeaVEIAY,Donald O'Brien,Alumna/us,1971.0,158955,Bachelor of Science,1971.0,NaN,1971.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019,https://www.linkedin.com/in/kevin-o-brien-5a9a...
27,003G000001of290IAA,Shanel Chisholm,Alumna/us,2017.0,174276,Bachelor of Science,2017.0,NaN,2017.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,Inactive due to graduation,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019,https://www.linkedin.com/in/shanel-chisholm-06...
51,003G000001oerTlIAI,Kristen (Garza) Reader,Alumna/us,2011.0,166709,Bachelor of Science,2011.0,NaN,2011.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,Inactive due to graduation,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019,https://www.linkedin.com/in/garzakristen
68,003G000001oejSQIAY,Matthew Kewriga,Alumna/us,2000.0,154481,Bachelor of Science,2000.0,NaN,2000.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,Inactive due to graduation,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019,https://www.linkedin.com/in/matthew-w-kewriga-...
72,003G000001oerTgIAI,Gregory Dalpe,Graduate Alumnus,2011.0,166706,Master of Science,2012.0,NaN,2012.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,Inactive due to graduation,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019,https://www.linkedin.com/in/gregorydalpe

Write to a file just in case

In [28]:
subset.to_csv('subset.csv', index=False)

# Scrape LinkedIn

In [37]:
subset = subset[:50]

Load scraper function

In [46]:
run scrape/scrape_to_json.py

Scrape Linkedin

In [47]:
scrapped = subset[subset['url'].notna()]['url'].progress_apply(scrape)

  2%|▏         | 1/44 [00:02<01:40,  2.34s/it]

AttributeError: 'NoneType' object has no attribute 'text'

In [34]:
scrapped

NameError: name 'scrapped' is not defined

Save raw data to a file

In [ ]:
with open('scrapped.json', 'w') as fh:
    fh.write(json.dumps(list(scrapped)))

# Join and Combine Scraped and Internal Data

In [ ]:
scrapped.iloc[1]

## High Level Data Cleaning

### Fix year / dates
People sometimes don't include the month in their profiles

In [ ]:
def year(info):
    for job in info['professional']:
        if not job['start_year']:
            job['start_year'] = int(job['start_month'])
            job['start_month'] = 'Jan'
        else:
            job['start_year'] = int(job['start_year'])
            
        if not job['end_year']:
            job['end_year'] = int(job['end_month'])
            job['end_month'] = 'Jan'
        else:
            job['end_year'] = int(job['end_year'])
    return info

### Filter Out Incorrect Scrapped Profiles
Right now, the only metric to ensure that the data is valid is if they went to WPI

In [ ]:
data = []
for s in list(scrapped):
    went_to_wpi = False
    for edu in s['academic']:
        if edu['name'] == 'Worcester Polytechnic Institute':
            data.append(year(s))

len(data)

## Create Derived Features
Create the features first, then assign them one at a time

### Years Since First Job
Show how long the person spent in each job

In [ ]:
def years_since_first_job(info):
    if not info['professional']:
        return info
    
    first_job = info['professional'][0]['start_year']
    
    for job in info['professional']:
        # HACK NEED TO FIX
        job['years_since_start'] = job['start_year'] - first_job
    
    return info

### Job Tenure
How long the person has been at their current job.

In [ ]:
def job_tenure(info):
    for job in info['professional']:
        # HACK NEED TO FIX
        job['tenure'] = max(job['end_year'] - job['start_year'], 1)
    return info

### Alunni Education History Join
Join the LinkedIn data against WPI's internal database. In terms of conflict, always prefer WPI's database to the LinkedIn Data

In [ ]:
def merge_edu_history(info):
    history = subset.loc[subset['url'] == info['url']]
    
    # Delete any WPI data
    edu_backup = info['academic'].copy()
    joint_edu = []
    for edu in edu_backup:
        if edu['name'] != 'Worcester Polytechnic Institute':
            joint_edu.append(edu)
                
    # Join with WPI Data
    for i in range(history.shape[0]):
        degree = history.iloc[i].fillna('None')
        
        joint_edu.append({
            'name': 'Worcester Polytechnic Institute',
            'type': degree['Degree/Certificate'],
            'start': degree['Start Year'],
            'end': degree['Degree Year'],
            'major_1': degree['Major #1'],
            'major_1_dept': degree['Major #1 Department'],
            'major_2': degree['Major #2'],
            'major_2_dept': degree['Major #2 Department'],
            'minor_1': degree['Minor #1'],
            'minor_1_dept': degree['Minor #1 Department'],
            'minor_2': degree['Minor #2'],
            'minor_2_dept': degree['Minor #2 Department'],
        })
            
    edu_hist = sorted(joint_edu, key=lambda x: int(x['end']))
    for i, edu in enumerate(edu_hist):
        edu['order'] = i
    
    info['academic'] = edu_hist
    return info

In [ ]:
merge_edu_history(data[0])

## Merge all modifications

Create a super simple, parallelizable function

In [ ]:
def post(d):
    d = years_since_first_job(d)
    d = job_tenure(d)
    d = merge_edu_history(d)
    return d

# Final Join
Merge all of the data together and export

In [ ]:
final = [post(d) for d in data]

Write and save to a file

In [ ]:
with open('final.json', 'w') as fh:
    fh.write(json.dumps(final))