# Alumni Education History Exploratory Analysis

## Imports

In [21]:
import pandas as pd
import json

## Load Data From File

In [2]:
edu = pd.read_csv('alumni-edu-history.csv')
edu.head()

/home/agupta/career-trajectory-mapping/venv-iqp/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Contact: Case Safe ID,Contact: Full Name,Contact: Constituent Category (Primary),Contact: Preferred Class Year,Education: Education History,Degree/Certificate,Degree Year,End Year,Graduation Year,Institution Name,...,Minor #2,Minor #2 Department,Other Information Related to Degree,Start Year,Student Status,Education: Record Type,Education: Created By,Education: Created Date,Education: Last Modified By,Education: Last Modified Date
0,003G0000024bMwNIAU,Mark Korir,Graduate Alumnus,2017.0,120338,Master of Business Admin.,2014.0,NaN,2014.0,Hodges University,...,NaN,NaN,NaN,NaN,NaN,Non-WPI Degree,Anthony McMahon,8/23/2018,Anthony McMahon,8/23/2018
1,003G000001oerenIAA,Rebecca Ide,Alumna/us,2012.0,185152,Non-Degree,NaN,NaN,NaN,Becker College Worcester,...,NaN,NaN,NaN,NaN,NaN,WPI Degree,API-Only,8/27/2018,API-Only,8/27/2018
2,003G000001of21qIAA,Kevin Lynch,Alumna/us,2018.0,174184,Bachelor of Science,2017.0,NaN,2017.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019
3,003G000001oeYxWIAU,Zareh Martin,Alumna/us,1940.0,155692,Bachelor of Science,1940.0,NaN,1940.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019
4,003G000001oeaVGIAY,Gerald Orre,Alumna/us,1971.0,158957,Bachelor of Science,1971.0,NaN,1971.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019

## Rudamentary Exploration
Simple explorations to understand what type of data we actually have access to

See which columns are available

In [3]:
edu.columns

Index(['Contact: Case Safe ID', 'Contact: Full Name',
       'Contact: Constituent Category (Primary)',
       'Contact: Preferred Class Year', 'Education: Education History',
       'Degree/Certificate', 'Degree Year', 'End Year', 'Graduation Year',
       'Institution Name', 'Major #1', 'Major #1 Department', 'Major #2',
       'Major #2 Department', 'Minor #1', 'Minor #1 Department', 'Minor #2',
       'Minor #2 Department', 'Other Information Related to Degree',
       'Start Year', 'Student Status', 'Education: Record Type',
       'Education: Created By', 'Education: Created Date',
       'Education: Last Modified By', 'Education: Last Modified Date'],
      dtype='object')

descriptive stats

In [4]:
edu.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,80679.000000,80714.000000,70765.000000,5917.000000,70826.00000,8793.000000
mean,1991.880142,125611.741123,2084.128340,2007.449721,2084.06115,2007.686000
std,25.084310,40912.406414,858.999253,8.305996,858.63234,9.236345
min,1894.000000,63327.000000,87.000000,1967.000000,87.00000,1963.000000
25%,1978.000000,84252.250000,1979.000000,2004.000000,1979.00000,2003.000000
50%,1998.000000,139602.000000,1997.000000,2010.000000,1997.00000,2009.000000
75%,2013.000000,163459.750000,2011.000000,2013.000000,2011.00000,2015.000000
max,2022.000000,191890.000000,9999.000000,2022.000000,9999.00000,2021.000000

### Department Information

all depts

In [5]:
pd.unique(edu[['Major #1 Department', 'Major #2 Department']].values.ravel('K'))

array([nan, 'Mechanical Engineering', 'Electrical Engineering',
       'Civil Engineering', 'Interdisciplinary', 'Chemical Engineering',
       'Management', 'Computer Science', 'Physics', 'Chemistry',
       'Biotechnology', 'Mathematical Sciences',
       'Fire Protection Engineering', 'Biomedical Engineering',
       'Social Science & Technology', 'Humanities and Arts', 'Undecided',
       'Social Science'], dtype=object)

all majors

In [6]:
pd.unique(edu[['Major #1', 'Major #2']].values.ravel('K'))

array([nan, 'Mechanical Engineering', 'Electrical Engineering',
       'Civil Engineering', 'Aerospace Engineering',
       'Robotics Engineering', 'Chemical Engineering',
       'Master of Business Admin.', 'Management', 'Computer Science',
       'Physics', 'Biochemistry', 'Electrical & Computer Eng.',
       'Chemistry', 'Biotechnology', 'Management Information Systems',
       'Mech. Eng. w/ Aerospace Int.', 'Data Science',
       'Materials Process Eng', 'Power Systems Engineering',
       'Industrial Engineering', 'Financial Mathematics',
       'Fire Protection Engineering', 'Operations Design & Leadership',
       'Interactive Media & Game Dev', 'Business Administration',
       'Systems Engineering', 'Biomedical Engineering',
       'Tech, Sci & Prof Communication', 'Biology and Biotechnology',
       'Marketing and Innovation', 'Construction Project Mgmt.',
       'Information Technology', 'Materials Science and Eng.',
       'Applied Statistics', 'Interdisciplinary',
       'Manufacturing Engineering', 'Environmental Engineering',
       'Management Engineering', 'Master of Natural Sciences',
       'School of Industrial Managemnt', 'Actuarial Mathematics',
       'Mathematical Sciences', 'Technical Writing',
       'Operations Analytics & Mgt.', 'Business',
       'Power Systems Management', 'Mech. Eng. w/ Biomedical Int.',
       'Society, Technology & Policy', 'Marketing & Tech. Innovation',
       'Master of Science in Mgmt.', 'Management Science & Engr.',
       'Economic Science', 'Applied Mathematics', 'Humanities and Arts',
       'General Science (OldTimer)', 'Biology',
       'Liberal Arts & Engineering', 'Master of Mathematics for Educ',
       'Psychological Science', 'Mathematics', 'Nuclear Engineering',
       'Master of Mathematics', 'Economics', 'Statistics',
       'International Studies', 'Bioscience Administration',
       'Materials Science and Eng', 'Operations & Information Tech.',
       'Biomedical Sciences', 'System Dynamics',
       'Architectural Engineering', 'Unknown',
       'Mech. Eng. w/ Nuclear Int.', 'Environ & Sustain Studies',
       'Professional Writing', 'Engineering Physics',
       'Economics & Technology', 'Industrial Mathematics',
       'Elect. Eng w/Biomedical Int.', 'Geology', 'Secondary Education',
       'Chem. Eng w/Biomedical Int.', 'Accounting',
       'Elec. Eng. w/Comp. Eng. Spec.', 'Clinical Engineering',
       'Computer Engineering', 'Music', 'History of Science & Technol',
       'English', 'Computers with Applications',
       'Humanities/Technology-English', 'Finance',
       'Engineering - To Be Declared', 'Education', 'Life Sciences',
       'Greater Worc Exec Prog', 'Bioinformatics & Computat Bio',
       'Actuarial Science', 'Operations Management', 'Social Science',
       'Humanities/Technology-History', 'Aerospace',
       'Physics for Educators', 'Environmental Studies', 'Digital Art',
       'Modern Languages', 'Environmental Science',
       'Chemistry-Interdisciplinary', 'Computers w/Mathematical Appl.',
       'Environmental Policy & Develop', 'Financial Engineering',
       'Chem. Engr. w/Nuclear Int.', 'Learning Sciences & Technology',
       'Management with Computer Appl.', 'E-Commerce', 'History',
       'Law/Prelaw', 'Information Security Mgmt',
       'Biomedical Eng/Medical Physics', 'Manufacturing Management',
       'Management of Technology', 'International & Global Studies',
       'Life Sciences-Interdisciplin', 'Plant Eng. Certificate',
       'Thermal-Fluid Engineering', 'Elec Engr w/ Nuclear Int',
       'Computers & Comm. Networks', 'Undecided', 'Project Management',
       'Advanced Manufacturing Eng', 'Materials Systems Engineering',
       'Customized Certificate', 'Computers w/Commercial Appl.',
       'Supply Chain Management', 'Psychology',
       'Urban & Environmental Planning', 'Nursing',
       'Civil Engineering-Interdiscipl', 'Biomedical',
       'Management Development', 'Applied Physics',
       'Computer Sci w/Biomedical Int.', 'Manufacturing Eng Mgmt',
       'Technology Marketing', 'Sociology', 'Criminal Justice',
       'Innovation with UX', 'Political Science',
       'Int Media & Game Dev-Tech', 'Mech Eng for Tech Leaders',
       'Nuclear Science & Engineering', 'Spanish', 'Special Topics',
       'Political Science & Law', 'Art', 'German',
       'Organizational Leadership', 'Commerce', 'Writing and Rhetoric',
       'Non-Certificate ( DCS/CPE )', 'Philosophy'], dtype=object)

## Basic Filtering

### FSB + relevant data filtering

Only get people from FSB

In [7]:
bus = edu[(edu['Major #1 Department'] == 'Management') | (edu['Major #2 Department'] == 'Management')]
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,5173.000000,5173.000000,5140.000000,22.000000,5144.000000,362.000000
mean,1999.697274,129948.345254,2000.749611,2009.590909,2000.751361,2016.127072
std,16.853183,45318.607570,15.670714,9.969759,15.665117,4.164936
min,1910.000000,63486.000000,1910.000000,1982.000000,1910.000000,1978.000000
25%,1987.000000,77117.000000,1988.000000,2006.000000,1988.000000,2015.000000
50%,2003.000000,150215.000000,2004.000000,2013.000000,2004.000000,2017.000000
75%,2014.000000,170869.000000,2014.000000,2017.000000,2014.000000,2018.000000
max,2022.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

Select people in the last 50 years

In [8]:
bus = bus[(bus['Contact: Preferred Class Year'] >= (2020 - 50)) & (bus['Contact: Preferred Class Year'] <= 2020)]
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,4939.000000,4939.000000,4906.000000,22.000000,4910.000000,361.000000
mean,2001.662077,130331.734359,2002.359764,2009.590909,2002.360285,2016.127424
std,14.222520,45555.862938,13.804873,9.969759,13.799703,4.170711
min,1971.000000,63486.000000,1971.000000,1982.000000,1971.000000,1978.000000
25%,1989.000000,76632.500000,1990.000000,2006.000000,1990.000000,2015.000000
50%,2005.000000,150477.000000,2006.000000,2013.000000,2006.000000,2017.000000
75%,2014.000000,171340.000000,2015.000000,2017.000000,2015.000000,2018.000000
max,2020.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

Only get wpi alumni

In [9]:
bus = bus[bus['Education: Record Type'] == 'WPI Degree']
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,4832.000000,4832.000000,4799.000000,15.000000,4803.000000,280.000000
mean,2001.297599,129144.797392,2002.109815,2010.933333,2002.110556,2016.296429
std,14.153051,45344.385686,13.832991,11.423451,13.827704,3.924190
min,1971.000000,63486.000000,1971.000000,1982.000000,1971.000000,1978.000000
25%,1989.000000,76325.750000,1990.000000,2009.500000,1990.000000,2015.000000
50%,2004.000000,149567.500000,2005.000000,2016.000000,2005.000000,2016.000000
75%,2014.000000,170419.750000,2014.000000,2017.500000,2014.000000,2018.000000
max,2020.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

Ensure that only relevant degrees are being picked

In [10]:
bus['Degree/Certificate'].unique()

array(['Bachelor of Science', 'Master of Science',
       'Master of Business Admin.', 'Master of Science in Mgmt.',
       'Certificate Program', 'Graduate Certificate',
       'Advanced Certificate', 'Doctor of Philosophy',
       'Associate Degree in Science', 'Bachelor of Arts'], dtype=object)

In [11]:
accepted_degrees = ['Bachelor of Science', 'Master of Science',
       'Master of Business Admin.', 'Master of Science in Mgmt.',
       'Bachelor of Arts']
accept_regex = '|'.join(accepted_degrees)
bus = bus[bus['Degree/Certificate'].str.contains(accept_regex)]
bus.describe()

,Contact: Preferred Class Year,Education: Education History,Degree Year,End Year,Graduation Year,Start Year
count,4790.000000,4790.000000,4762.000000,12.000000,4766.000000,272.000000
mean,2001.332777,129089.415449,2002.111928,2011.916667,2002.112673,2016.448529
std,14.127522,45319.690034,13.840764,10.561150,13.835433,3.444488
min,1971.000000,63486.000000,1971.000000,1982.000000,1971.000000,1978.000000
25%,1989.000000,76323.250000,1990.000000,2011.250000,1990.000000,2015.000000
50%,2004.000000,149542.000000,2005.000000,2016.500000,2005.000000,2016.000000
75%,2014.000000,170321.500000,2014.000000,2018.000000,2014.000000,2018.000000
max,2020.000000,189967.000000,2020.000000,2018.000000,2020.000000,2021.000000

### Uniqueness

Seems that we have duplicate names

In [12]:
bus['Contact: Full Name'].nunique()

4575

Duplicated names are for multiple degrees; should be fine to keep them in

In [18]:
bus[bus['Contact: Full Name'] == 'Akshay Rao']

,Contact: Case Safe ID,Contact: Full Name,Contact: Constituent Category (Primary),Contact: Preferred Class Year,Education: Education History,Degree/Certificate,Degree Year,End Year,Graduation Year,Institution Name,...,Minor #2,Minor #2 Department,Other Information Related to Degree,Start Year,Student Status,Education: Record Type,Education: Created By,Education: Created Date,Education: Last Modified By,Education: Last Modified Date
24890,003G000001rCILmIAO,Akshay Rao,Alumna/us,2018.0,175127,Bachelor of Science,2018.0,NaN,2018.0,Worcester Polytechnic Institute,...,NaN,NaN,NaN,NaN,Inactive,WPI Degree,Anthony McMahon,8/23/2018,Jeffrey Caglarcan,8/18/2019
69193,003G000001rCILmIAO,Akshay Rao,Alumna/us,2018.0,189556,Master of Science,NaN,NaN,NaN,Worcester Polytechnic Institute,...,NaN,NaN,NaN,2018.0,Never Enrolled,WPI Degree,API-Only,10/28/2019,API-Only,11/11/2019

## Generate final list of alumni

In [23]:
names = list(bus['Contact: Full Name'].unique())

Write to a file

In [24]:
with open('names.json', 'w') as fh:
    json.dump(names, fh)